.container
  .page-header
    %h1 イベントカードジェネレーター

    .row
      .col-md-12
        .col-lg-8
        .col-lg-4
          %form.form-horizontal{ role: 'form', action: '/event/default', method: 'post'}
            .form-group{:id => 'default'}
              .default
                %button.btn.btn-primary.btn-lg.btn-block{ type: 'submit', value: 'default' } デフォルトの設定をロードする
      %form.form-horizontal{ role: 'form', action: '/event/generate', method: 'post'}
        - (0..23).zip(@default[0..23]).each do |i,data|
          .form-group{:id => "#{i}"}
            .col-lg-2
              %label.col-lg-6.control-label{ for: 'number' } 数字
              .col-lg-6
                %select.form-control#number{ name: "number-#{i}", type: 'text', data: { elm: "number-#{i}" } }
                  - %w(A 2 3 4 5 6 7 8 9 10 J Q K).each do |e|
                    - if e == data['number']
                      %option{:value =>e, :selected =>e} #{data['number']}
                    - else
                      %option{:value =>e} #{data['number']}
            .col-lg-2
              %label.col-lg-6.control-label{ for: "sute-#{i}" } 記号
              .col-lg-6
                %select.form-control#number{ name: "sute-#{i}", type: 'text', data: { elm: "sute-#{i}" } }
                  - %w(♠ ♣ ♡ ♢).zip(%w(spade clover hurt diamond)).each do |e,s|
                    - if s == data['sute']
                      %option{:value =>s, :selected => s} #{e}
                    - else
                      %option{:value =>s} #{e}
            .col-lg-5
              %label.col-lg-3.control-label{ for: 'ftext' } テキスト
              .col-lg-9
              .input-group
                %textarea.form-control#ftext{ name: "ftext-#{i}", rows: 1, data: { elm: "ftext-#{i}" } } #{data['text']}
            .col-lg-3
              %label.col-lg-4.control-label{ for: 'image' } 画像
              .col-lg-8
              .input-group
                %input.form-control#image{ name: "image-#{i}", type: 'file', data: { elm: "image-#{i}" } }
        .form-group{:id => 'jorker'}
          .col-lg-4
            %label.col-lg-12.control-label{ for: 'number' } ジョーカー
          .col-lg-5
            %label.col-lg-3.control-label{ for: 'ftext' } テキスト
            .col-lg-9
            .input-group
              %textarea.form-control#ftext{ name: "ftext-joker", type: 'text', data: { elm: "ftext-joker" } }#{@default[-1]['text']}
          .col-lg-3
            %label.col-lg-4.control-label{ for: 'image' } 画像
            .col-lg-8
            .input-group
              %input.form-control#image{ name: "image-joker", type: 'file', data: { elm: 'image-joker' } }
        .col-lg-3
          .form-group{:id => 'download'}
            .download
              %button.btn.btn-primary.btn-lg.btn-block{ type: 'submit',  value: 'download' } Download 

:css
  .container{
    max-width: none !important;
    width: 1280px;
  }
 
  .preview{
    border: 2px solid #ccc;
    width: 272px;
  }
  .card{
    /* background: #fafafa url('/resources/design2_preview.png') no-repeat left top; */
    height: 448px;
    width: 272px;
    background-size: contain;
    position: relative;
  }
  .preview .border{
  }
  .preview .card-element{
    position: absolute;
    left: 20px;
  }
  .elm-number { top: 20px; font-size: 40px; line-height: 1; }
  .elm-direction { top: 20px; font-size: 40px; line-height: 1; }
  #ftext { width: 25em; }
  #image { border: 0px; }

:javascript
  var appends = {
    'number': '',
    'direction': '',
    'image': '',
  }
  $(function(){
    var update_preview = function(){
      console.log('hi');
      elm_name = $(this).attr('data-elm');
      if(elm_name){
        elm_value = $(this).val();
        if(elm_value){
          $('.elm-' + elm_name).html(appends[elm_name] + elm_value);
        }else{
          $('.elm-' + elm_name).html('');
        }
      }
    }
    $('input').each(function(){
      $(this).bind('keyup', update_preview)
    });
  });
